[Unit]
Description=MoneyMaker Service
After=network.target

[Service]
WorkingDirectory=/opt/moneymaker
ExecStart=/usr/bin/python3 /opt/moneymaker/start_all.py
EnvironmentFile=/opt/moneymaker/.env
Restart=always
StandardOutput=append:/var/log/moneymaker.log
StandardError=append:/var/log/moneymaker.log

[Install]
WantedBy=multi-user.target
